html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1d222b;
    color: white;
    margin: -1px;
}

header {
    background-color: rgb(253, 152, 0);
    width: 100%;
    margin: auto;
    padding: 1px;
    text-align: center;
}

header p {
    font-size: 15px;
    margin-top: -10px;
    font-style: italic;
    font-weight: 548;
}

#city {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    width: 450px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: white;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

::-webkit-input-placeholder {
    font-weight: 650px;
    color: rgba(0, 0, 0, 0.705);
}

:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 650px;
    color: rgba(0, 0, 0, 0.705);
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 650px;
    color: rgba(0, 0, 0, 0.705);
}

:-ms-input-placeholder {
    font-weight: 650px;
    color: rgba(0, 0, 0, 0.705);
}

#city:hover {
    background-color: rgb(216, 216, 216);
}

#form {
    text-align: center;
    margin-top: auto;
    box-sizing: border-box;
}

#form h2 {
    color: rgb(255, 166, 0);
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#form button {
    font-weight: bolder;
    padding: 1.2rem;
    padding-bottom: 26px;
    padding-top: 11px;
    margin-left: -3px;
    height: 37px;
    border-radius: 0 4px 4px 0;
    background-color: #ffa600ee;
    color: white;
    border: none;
    transition: 0.5s;
}

#form button:hover {
    background-color: rgba(255, 166, 0, 0.842);
}

#clima {
    font-family: 'Bitter';
    color: black;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 320px;
    border-radius: 8px;
    margin: 1rem auto;
    border-width: 5px;
    border-style: solid;
    border-left-color: blue;
    border-top-color: blue;
    border-right-color: red;
    border-bottom-color: red;
    box-sizing: border-box;
}

#clima h2 {
    font-size: 1.95rem;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding-top: 1rem;
}

#clima #temp {
    box-sizing: border-box;
    margin: 3rem;
}

#clima #Max {
    text-align: center;
    float: right;
    font-size: 4.5rem;
    color: red;
    margin-right: 2.5rem;
}

#clima #Min {
    text-align: center;
    font-size: 4.5rem;
    float: left;
    color: rgb(17, 17, 252);
    margin-left: 2.5rem;
}

#clima #Max sup {
    float: right;
    font-size: 1.5rem;
    color: red;
    clear: both;
}

#clima #Min sup {
    font-size: 1.5rem;
    float: right;
    color: #1111fc;
    clear: both;
}

#clima p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    clear: both;
    padding: 3.5rem;
}

section {
    background-color: #353e4e;
    font-size: 17px;
    width: 55%;
    min-width: 320px;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
    text-align: justify;
}

section h1 {
    font-size: 30px;
    text-align: center;
    color: #ffa600ee;
}

section .duvida {
    background-color: #475368;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

section a {
    text-decoration: none;
    color: #00d11cee;
    font-weight: bold;
    transition: 200ms;
}

section a::after {
    content: "🔗";
}

section a:hover {
    color: #ffffffee;
}

section .duvida h3 {
    color: #ffa600ee;
    font-size: 20px;
}

section .duvida img {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
}




@media (max-width: 425px) {
    html {
        font-size: 58%;
    }

    #city {
        width: fit-content;
    }
}

@media (min-width: 2560px) {
    body {
        width: 100vw;
        overflow: hidden;
    }
}

@media (max-width: 610px) {
    #form {
        display: flex;
        flex: 1;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    #form #city {
        width: 100%;
        max-width: 400px;
        margin: 5px;
        border-radius: 6px;
    }

    button {
        width: 100%;
        max-width: 400px;
        border-radius: 6px;
    }
}